<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="SIMPLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){magenta} %-20.20thread %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(%-40.40logger{39}){cyan} %line %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
    />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${SIMPLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <logger name="com.hsbc.app.demo" additivity="false" level="debug">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework" level="INFO"/>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
